.header {
  margin-left: 70px;
  height: 60px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left-side {
  display: flex;
  align-items: center;
}

.right-side {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 550px) {
  .header {
    margin-left: 0;
  }

  .header.sidebar-open {
    margin-left: 70px;
  }
}