.icon-button {
  min-width: 100px;
  padding: 20px;
  white-space: nowrap;
}

.icon-button span {
  margin-left: 15px;
  font-family: 'Lato';
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  color: #354650;
}

.icon-button span.bold {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 13px;
}

.icon-button.mobile {
  display: none;
}

@media only screen and (max-width: 750px) {
  .icon-button {
    min-width: 0px;
  }

  .icon-button span {
    display: none;
  }
}

@media only screen and (max-width: 550px) {
  .icon-button.mobile {
    display: block;
  }

  .icon-button {
    padding: 0 10px;
  }

  .icon-button:first-of-type {
    padding-left: 20px;
  }
}