.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  width: 70px;
  z-index: 50;
  background-color: #264E66;
}

@media only screen and (max-width: 550px) {
  .sidebar {
    display: none;
  }

  .sidebar.sidebar-open {
    display: block;
  }
}