.sidebar-icon {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80px;
  justify-content: center;
}

.sidebar-icon:first-of-type {
  height: 60px;
}

.sidebar-icon span {
  color: #fff;
  margin-top: 10px;
  font-family: 'Lato', Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
}