.actions {
  position: absolute;
  background: #FFFFFF;
  border: 1px solid #DBE5EB;
  box-shadow: 0px 5px 20px rgba(53, 70, 80, 0.2);
  border-radius: 6px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #354650;
  padding: 7px;
  transform: translate(-100%);
}

.actions li {
  padding: 8px;
}

.actions li button:hover {
  color: #00B9FF;
  cursor: pointer;
}