.row {
  height: 50px;
}

.row td {
  font-size: 14px;
  color: #354650;
  padding: 0 20px;
}

.type span {
  width: 30px;
  text-align: left;
  display: inline-block;
}

.type svg {
  vertical-align: middle;
}

.name {
  font-weight: 900;
}