.row {
  height: 50px;
}

.row-cancel {
  background: #FFEFF2!important; /* parent styles override */
}

.row td {
  font-size: 14px;
  color: #354650;
  padding: 0 10px;
  white-space: nowrap;
}

.row td:first-child {
  padding: 0 10px 0 20px;
}

.type span {
  width: 30px;
  text-align: left;
  display: inline-block;
}

.type svg {
  vertical-align: middle;
}

.name {
  font-weight: 900;
}

.button {
  border-radius: 4px;
  width: 60px;
  height: 30px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  display: inline-block;
  vertical-align: middle;
  line-height: 30px;
  margin-right: 10px;
  cursor: pointer;
}

.chat-button {
  background: #54D0FF;
}

.chat-button:hover {
  background: #00B9FF;
}

.call-button {
  background: #29C581;
}

.call-button:hover {
  background: #00B063;
}

.kebab {
  vertical-align: middle;
  position: relative;
  top: 1px;
  cursor: pointer;
  width: 20px;
  text-align: center;
}

.kebab:hover g {
  fill: #728B9B;
}

.status {
  width: 180px;
}

.status button {
  cursor: pointer;
}

.status span {
  border-bottom: 1px dashed #B8C5CD;
  padding-bottom: 1px;
}

.status button:hover span {
  border-bottom: 1px dashed #00B9FF;
}

.status svg {
  position: relative;
  top: 2px;
  margin-right: 10px;
  width: 17px;
}